body{
    background-color: #DDDDDD;
}
form{
    background-color: #FFFFFF;
    width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
label{
    position: relative;
    width: 120px;
    left: 10px;
    display: inline-block;
}
input,select{
    position: relative;
    left: 20px;
    width: 250px ;
}
button{
    width: 100px;

}